div#answer, div#results{
	padding-bottom: 20;
	max-width:600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 16pt;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	color: #5b5b5b;
}
div#question{
	width:100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 28pt;
	font-weight: 300;
	color: #5b5b5b;
}
div#short_answer{
	padding-top: 20;
	padding-bottom: 15;
	width:100%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 60pt;
	font-weight: 400;
	color: #5b5b5b;
}
div#nearby{
	width:150px;
	padding-top: 35px;
	height: 115px;
	border-radius: 75px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: white;
	background: #5b5b5b;
	font-size: 20pt;
	font-weight: 400;
	cursor: pointer;
	cursor: hand;
}
.today{
	color:darkred;
}
.not_today{
	color:green;
}